<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryu.mappers.member">

<select id="list" resultType="com.ryu.vo.MemberVO">
 select 
 bno,name,age,sex,tel,home
 from member_test
</select>


</mapper>